.banner_container {
  height: auto;
}

.banner_image {
  background: url("../../src/image/Banner.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.banner_content {
  padding-left: 40px;
  position: absolute;
  width: 40%;
  margin-top: 140px;
}

.banner_content h1 {
  font-size: 3rem;
  font-weight: 300;
  color: rgb(51, 104, 198);
}

.banner_content h2 {
  font-size: 3rem;
  font-weight: 500;
  color: rgb(51, 104, 198);
}
.banner_content p {
  color: rgb(94, 93, 93);
  margin-top: 2rem;
  line-height: 1.5rem;
  font-weight: 300;
}

@media (max-width: 1050px) {
  .banner_image {
    background-position: center -10px;
  }

  .banner_content {
    margin-top: 120px;
    width: 45%;
  }

  .banner_content p {
    margin-top: 20px;
    line-height: 1.2rem;
  }
}

@media (max-width: 900px) {
  .banner_content {
    margin-top: 80px;
  }
  .banner_content p {
    font-size: 1rem;
  }
  .banner_content h1,
  .banner_content h2 {
    font-size: 2rem;
  }
}

@media (max-width: 750px) {
  .banner_content {
    margin-top: 60px;
  }
  .banner_content h1,
  .banner_content h2 {
    font-size: 1.8rem;
  }
  .banner_content p {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
}

@media (max-width: 580px) {
  .banner_image {
    background-position: center 0px;
  }
  .banner_content {
    margin-top: 60px;
  }
  .banner_content h1,
  .banner_content h2 {
    font-size: 1.3rem;
  }
  .banner_content p {
    font-size: 0.5rem;
    line-height: 0.6rem;
  }
}

@media (max-width: 460px) {
  .banner_content {
    margin-top: 40px;
  }
  .banner_content h1,
  .banner_content h2 {
    font-size: 1rem;
  }
  .banner_content p {
    font-size: 0.4rem;
    line-height: 0.6rem;
  }
}

@media (max-width: 460px) {
  .banner_content {
    margin-top: 30px;
  }
  .banner_content h1,
  .banner_content h2 {
    font-size: 0.8rem;
  }
  .banner_content p {
    font-size: 0.3rem;
    line-height: 0.4rem;
  }
}
