.service_container {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  background-color: rgb(236, 236, 236);
  padding-top: 40px;
  padding-bottom: 80px;
  user-select: none;
}

.service_transparentTitle {
  font-size: 120px;
  text-align: center;
  font-weight: 900;
  color: white;
}

.service_container_slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service_container h1 {
  text-align: center;
  font-size: 2.5rem;
  color: rgb(90, 90, 90);
  margin-bottom: 40px;
}

.service_container span {
  color: rgb(51, 104, 198);
}

.service_row {
  width: 90%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: auto;
}

.service_row::-webkit-scrollbar {
  width: 0 !important;
}

.service_card {
  user-select: none;
  cursor: pointer;
  min-width: 24%;
  margin: 0.5%;
  height: 300px;
  background-color: white;
}

.service_title {
  margin-top: 20px;
  padding-left: 20px;
  color: rgb(51, 104, 198);
  text-transform: uppercase;
  font-weight: 600;
}

.service_icon {
  padding-left: 20px;
  margin-top: 30px;
  width: 80px;
  height: 80px;
  color: grey;
  opacity: 30%;
}

.service_service {
  padding-left: 20px;
  width: 80%;
  margin-top: 40px;
}

.service_btn_slider {
  width: 20px;
  height: 20px;
  color: rgb(51, 104, 198);
  cursor: pointer;
}

.service_description {
  margin-top: 40px;
  text-align: center;
  font-style: italic;
}

/* Modal */
.service_modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  font-size: 40px;
  background-color: rgba(124, 123, 123, 0.7);
}

.service_modal_conatiner {
  position: relative;
  justify-content: space-between;
  margin: 120px auto;
  width: 50%;
  height: 400px;
  background-color: white;
  position: relative;
}

.modal_title {
  font-size: 20px;
  padding-left: 40px;
  padding-top: 80px;
  color: rgb(51, 104, 198);
  text-transform: uppercase;
  font-weight: 600;
}

.modal_close_button {
  width: 30px;
  height: 30px;
  opacity: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal_description {
  width: 70%;
  font-size: 16px;
  padding-left: 40px;
  margin-top: 40px;
}

/* Media */
@media (max-width: 1000px) {
  .service_card {
    min-width: 49%;
  }
  .service_transparentTitle {
    font-size: 100px;
  }
}

@media (max-width: 700px) {
  .service_transparentTitle {
    font-size: 60px;
  }
}

@media (max-width: 500px) {
  .service_card {
    min-width: 99%;
  }
  .service_icon {
    width: 60px;
    height: 60px;
  }
  .service_transparentTitle {
    font-size: 40px;
  }
  .service_container h1 {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .service_btn_slider {
    margin-left: 10px;
    margin-right: 10px;
  }
  .service_container {
    padding-left: 8px;
    padding-right: 8px;
  }
  /* Modal */
  .modal_title {
    font-size: 14px;
    margin-top: 10px;
    padding-left: 0;
    text-align: center;
  }

  .modal_description {
    padding-left: 0;
    /* text-align: center; */
    margin: 70px auto;
    width: 80%;
  }
}

@media (max-width: 380px) {
  .service_card {
    min-width: 98.7%;
    height: 270px;
  }
}

@media (max-width: 330px) {
  .service_card {
    min-width: 98.7%;
    height: 250px;
  }
}
