.testimon_container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.testimon_Left,
.testimon_right {
  width: 20%;
  background-color: rgb(236, 236, 236);
  opacity: 0.8 !important;
  overflow: hidden;
}

.testimon_Left img,
.testimon_right img {
  width: 100%;
}

.testimon_review {
  width: 60%;
}

.testim_title {
  font-size: 70px;
  text-align: center;
  margin-top: 30px;
  opacity: 0.1 !important;
}

.testimon_card_section {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.testimon_card_section::-webkit-scrollbar {
  width: 0 !important;
}

.testim_oneCard {
  height: 200px;
  min-width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.testim_btn_esction {
  width: 80px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.testimon_text_content {
  text-align: center;
  line-height: 2rem;
  margin-top: 40px;
  font-size: 20px;
  color: gray;
  font-style: italic;
}

.testim_name {
  margin-top: 20px;
  text-align: center;
}

.testim_role {
  text-align: center;
  color: rgb(51, 104, 198);
  font-style: italic;
  margin-bottom: 20px;
}

/* style Radio Button */

.testim_btnRadio {
  cursor: pointer;
  width: 12px;
  height: 12px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #e7e6e7;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: rgb(51, 104, 198);
}

@media (max-width: 900px) {
  .testimon_Left,
  .testimon_right {
    display: none;
  }

  .testimon_review {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .testim_title {
    font-size: 60px;
  }

  .testimon_text_content {
    line-height: 1.6rem;
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .testim_title {
    font-size: 40px;
  }

  .testimon_text_content {
    line-height: 1.4rem;
    font-size: 12px;
  }
}
