.youtube_container {
  width: 100%;
  padding-top: 40px;
}
.youtube_title {
  padding-top: 20px;
  font-size: 120px;
  text-align: center;
  font-weight: 900;
  color: rgb(236, 236, 236);
  margin-bottom: 20px;
}
.youtubeList_main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 60px;
}

.youtube_item {
  position: relative;
  /* width: 426px; */
  width: 33.3%;
  height: 237px;
}

.youtube_item iframe {
  width: 100%;
  height: 100%;
}

.youtube_mask {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(231, 231, 245);
  width: 100%;
  height: 100%;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.youtube_mask:hover {
  opacity: 0;
}

.youtube_bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  font-size: 40px;
  background-color: rgba(192, 192, 192, 0.7);
}

.youtube_modal {
  justify-content: space-between;
  margin: 75px auto;
  width: 70%;
  height: 504px;
  position: relative;
}

.youtube_modal_screen {
  width: 100%;
  height: 100%;
}

.overflow-hidden {
  height: 100vh;
  overflow-y: hidden;
}

/* Media */
@media (max-width: 1180px) {
  .youtubeList_main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .youtube_item {
    width: 50%;
    height: 350px;
  }
}

@media (max-width: 736px) {
  .youtube_item {
    width: 100%;
    height: 250px;
  }

  .youtube_modal {
    width: 90%;
    height: 210px;
    margin: 235px auto;
  }
}

@media (max-width: 400px) {
  .youtube_item {
    width: 100%;
    height: 210px;
  }
}

@media (max-width: 320px) {
  .youtube_item {
    width: 100%;
    height: 180px;
  }
  .youtube_modal {
    width: 90%;
    height: 190px;
    margin: 180px auto;
  }
}

/* Media-Height */

@media (max-height: 440px) {
  .youtube_item {
    height: 414px;
  }
  .youtube_modal {
    width: 80%;
    height: 330px;
    margin: 40px auto;
  }
}

@media (max-height: 375px) {
  .youtube_item {
    height: 414px;
  }
  .youtube_modal {
    width: 80%;
    height: 300px;
    margin: 40px auto;
  }
}

@media (max-height: 375px) {
  .youtube_item {
    height: 320px;
  }
  .youtube_modal {
    width: 70%;
    height: 225px;
    margin: 48px auto;
  }
}
